// Colors
$color-orange: #FE7F2D;
$color-grey: #5B5B5B;
$color-blue: #4DA1A9;
$color-red: #EC4E20;
$color-white: #ECEBF3;


// Spacing
$spacing-small: 5px;
$spacing-medium: 10px;
$spacing-large: 15px;
$spacing-huge: 25px;

// Font-size
$font-size-small: 10px;
$font-size-medium: 13px;
$font-size-large: 18px;
$font-size-huge: 23px;