// Colors
$color-orange: #FE7F2D;
$color-grey: #5B5B5B;
$color-blue: #4DA1A9;
$color-red: #EC4E20;
$color-white: #ECEBF3;
$color-darkgrey: #1b1b1b;
$color-charcoal: #212529;

// Spacing
$spacing-small: 5px;
$spacing-medium: 10px;
$spacing-large: 15px;
$spacing-huge: 25px;

// Font-size
$font-size-small: 13px;
$font-size-medium: 17px;
$font-size-large: 23px;
$font-size-huge: 30px;
$font-size-mega: 50px;

// Variables
$border-radius-small:5px;
$border-radius-medium:7px;
$border-radius-large:15px;
$border-radius-huge:25px;

// Variables
$navigation-height: 56px;