// Colors

// Spacing
$spacing-small: 5px;
$spacing-medium: 10px;
$spacing-large: 15px;
$spacing-huge: 25px;

// Font-size
$font-size-small: 10px;
$font-size-medium: 13px;
$font-size-large: 18px;
$font-size-huge: 23px;