.nav-container{
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    min-height: $navigation-height;
    display: flex;
    
    .content {
        
        width: fit-content;
        align-self: center;
        margin: 0 auto;
        

        .list-links {
            display: flex;
            
            li {
                display: inline;
                margin-right: $spacing-large;

                a {
                    font-size: $font-size-medium;
                    text-decoration: none !important;
                    color: $color-white !important;
                    padding-top: $spacing-small;
                    padding-bottom: $spacing-small;

                    &:hover {
                        border-bottom: 2px solid $color-orange;
                    }
                    
                }
                
                .router-link-active {
                    color: $color-orange !important;
                    border-bottom: 2px solid $color-orange;
                }
            }
            
        }
    }
}