.nav-container{
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    min-height: $navigation-height;
    display: flex;
    
    .content {
        width: fit-content;
        align-self: center;
        margin: 0 auto;

        .list-links {
            display: flex;
            
            li {
                display: inline;
                margin-right: $spacing-large;

                a {
                    text-decoration: none !important;

                    transition: all 0.3s;

                    
                    &:before
                    {
                        top: 0px;
                        transform: translateY(-10px);
                    }

                    &:after
                    {
                        bottom: 0px;
                        transform: translateY(10px);
                    }

                    &:before,  &:hover:after
                    {
                        opacity: 1;
                        transform: translateY(0px);
                    }
                }
                
                .router-link-active {
                    color: $color-orange !important;
                }
            }
            
        }
    }
}