.nav-container{
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    min-height: $navigation-height;
    display: flex;
    
    .content {
        width: fit-content;
        align-self: center;
        margin: 0 auto;

        .list-links {
            display: flex;
            
            li {
                display: inline;
                margin-right: $spacing-large;

                a {
                    text-decoration: none !important;
                }
                
                .router-link-active {
                    color: $color-orange !important;
                }
            }
            
        }
    }
}